.navbar {

    /* Change the background color to your preference */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    /* Adjust the padding as needed */
    background-color: black;
    height: 40px;
    /* Text color */
}

.navbar-logo img {
    width: 80%;
    /* Adjust the width of the logo image */
    height: auto;

}

.navbar-text {
    font-size: 24px;
    /* Adjust the font size */
    font-weight: bold;
    color: white;
}